<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - Detektor</title>
        <link href="~/css/Login.css" rel="stylesheet" />
    </head>
        <body class="body">
                @RenderBody()
        </body>
</html>